In [1]:
import requests
import json
from pprint import pprint
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import yfinance as yf
import seaborn as sns

Date Calculation

In [2]:
end_date = datetime.today().strftime('%Y-%m-%d')
end_date_split = end_date.split("-")
end_date_year = end_date_split[0]
end_date_month = end_date_split[1]
end_date_day = end_date_split[2]
beg_date_year = int(end_date_year) -5 
beg_date = str(beg_date_year) + "-" + end_date_month + "-" + end_date_day

Telecom Data Analysis

In [4]:
# get the data
telecom_outsideus_stock_df = pd.DataFrame()
telecom_outsideus_stock_df["Date"] = ''
telecom_outsideus_stock_df["Open"] = ''
telecom_outsideus_stock_df["High"] = ''
telecom_outsideus_stock_df["Low"] = ''
telecom_outsideus_stock_df["Close"] = ''
telecom_outsideus_stock_df["Adj Close"] = ''
telecom_outsideus_stock_df["Volume"] = ''
telecom_outsideus_stock_df["stock_name"] = ''

stocks = ["DTEGY", "VOD", "GTMEF","AAFRF"]
for stock in stocks : 
    data = yf.download(stock, start = beg_date,
                   end = end_date)
    data["stock_name"] = stock
    data = data.reset_index()
    #stock_df = pd.merge(pd.merge(stock_df,data,on='Date'))
    #stock_df = stock_df.merge(data, how='right')
    telecom_outsideus_stock_df = telecom_outsideus_stock_df.append(data, ignore_index = True)

telecom_outsideus_stock_df.head()

[*********************100%***********************]  1 of 1 completed

C:\Users\RMaji\AppData\Local\Temp\ipykernel_29892\3541207666.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  telecom_outsideus_stock_df = telecom_outsideus_stock_df.append(data, ignore_index = True)

[*********************100%***********************]  1 of 1 completed

C:\Users\RMaji\AppData\Local\Temp\ipykernel_29892\3541207666.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  telecom_outsideus_stock_df = telecom_outsideus_stock_df.append(data, ignore_index = True)

[*********************100%***********************]  1 of 1 completed

C:\Users\RMaji\AppData\Local\Temp\ipykernel_29892\3541207666.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  telecom_outsideus_stock_df = telecom_outsideus_stock_df.append(data, ignore_index = True)

[*********************100%***********************]  1 of 1 completed

C:\Users\RMaji\AppData\Local\Temp\ipykernel_29892\3541207666.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  telecom_outsideus_stock_df = telecom_outsideus_stock_df.append(data, ignore_index = True)

,Date,Open,High,Low,Close,Adj Close,Volume,stock_name
0,2018-08-07,16.559999,16.559999,16.48,16.520000,14.865196,355700,DTEGY
1,2018-08-08,16.490000,16.600000,16.42,16.549999,14.892191,67400,DTEGY
2,2018-08-09,16.549999,16.570000,16.40,16.410000,14.766214,80300,DTEGY
3,2018-08-10,15.910000,15.950000,15.82,15.880000,14.289304,105800,DTEGY
4,2018-08-13,16.030001,16.070000,15.91,15.960000,14.361291,78800,DTEGY

In [81]:
 
# get the data
stock_df = pd.DataFrame()
stock_df["Date"] = ''
stock_df["Open"] = ''
stock_df["High"] = ''
stock_df["Low"] = ''
stock_df["Close"] = ''
stock_df["Adj Close"] = ''
stock_df["Volume"] = ''
stock_df["stock_name"] = ''

stocks = ["TMUS", "T", "VZ"]
for stock in stocks : 
    data = yf.download(stock, start = beg_date,
                   end = end_date)
    data["stock_name"] = stock
    data = data.reset_index()
    #stock_df = pd.merge(pd.merge(stock_df,data,on='Date'))
    #stock_df = stock_df.merge(data, how='right')
    stock_df = stock_df.append(data, ignore_index = True)

stock_df.count()

[*********************100%***********************]  1 of 1 completed

C:\Users\RMaji\AppData\Local\Temp\ipykernel_20668\3853538557.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stock_df = stock_df.append(data, ignore_index = True)

[*********************100%***********************]  1 of 1 completed

C:\Users\RMaji\AppData\Local\Temp\ipykernel_20668\3853538557.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stock_df = stock_df.append(data, ignore_index = True)

[*********************100%***********************]  1 of 1 completed

C:\Users\RMaji\AppData\Local\Temp\ipykernel_20668\3853538557.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stock_df = stock_df.append(data, ignore_index = True)

Date          3771
Open          3771
High          3771
Low           3771
Close         3771
Adj Close     3771
Volume        3771
stock_name    3771
dtype: int64

In [18]:
stocks_df = pd.DataFrame({
    "Stock_Name": stock_name,
    "date": date,
    "open_price": open_price,
    "high_price": high_price,
    "low_price": low_price,
    "close_price": close_price,
    "volume": close_price
})

stocks_df

,Stock_Name,date,open_price,high_price,low_price,close_price,volume
0,TMUS,2017-08-01,62.10,63.465,61.61,63.07,63.07
1,TMUS,2017-08-02,63.22,63.725,62.75,63.63,63.63
2,T,2017-08-01,39.25,39.270,38.71,38.88,38.88
3,T,2017-08-02,38.98,38.990,38.04,38.27,38.27
4,VZ,2017-08-01,48.68,49.630,48.53,48.89,48.89
5,VZ,2017-08-02,48.90,48.930,47.90,48.21,48.21